{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
<div class="container cuerpo">

    <div class="row">

        <div class="col-4">
           <div class="titleNewPost">New Post</div>
        </div>

        <div class="col-8">
            <div class="titleNewPost">Posts</div>
        </div>
    </div>

    <div class="row" id="principal">

        <div class="col-4">

            {% if user.is_authenticated %}

            <div id="formulario">
            <form id="compose-form">
                <textarea id="compose-post"></textarea>
                <input type="submit" class="btn btn-primary botonenviar" value="Send"/>
            </form>
            <div id="successfully">posted successfully
                <span class="material-icons">
                    sentiment_satisfied_alt
                    </span>
            </div>
            </div>

            {% else %}

            <div id="formulario">
            <form id="compose-form">
                <textarea disabled></textarea>
                <input type="submit" class="btn btn-primary botonenviar" value="Send" disabled/>
            </form>
            </div>

            {% endif %}


        </div>

        <div class="col-8" id="posts">
            
            {% for post in page_obj %}
            {# Each "post" is a Posts model object. #}
            <div class="post">
                <div class="postdetails"><img src="/static/network/avatars/{{post.avatar}}" class="postavatar"><text class="postname">{{post.usuario}}</text> <text class="postdate">{{post.post_date}}</text></div>
                <div class="postcontents">{{post.contents}}</div>    
            </div>

            {% endfor %}

            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            
        </div>

    </div>

</div>
    
{% endblock %}