{% extends "network/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
    <script src="{% static 'network/common.js' %}"></script>
{% endblock %}


{% block body %}
<div class="container-fluid cuerpo">

    <div class="row">

        <div class="col-lg-1 col-sm-12"></div>

        <div class="col-lg-3 col-sm-12">

        </div>

        <div class="col-lg-8 col-sm-12">
            <div class="titleNewPost">Posts</div>

        </div>
    </div>

    <div class="row" id="principal">

        <div class="col-lg-1  col-sm-12"></div>

        <div class="col-lg-3  col-sm-12" id="col-profile">

            {% if user.is_authenticated %}

            <div id="divprofile">

            <div class="titleNewPost">{{ profilename }}</div>

            <div> <img src="/static/network/avatars/{{profile.avatar}}" id="profileavatar"> </div>

            <div id="divprofileinfo">
            <div class="profileinfo">Followers: <text id="cantidadseguidores">{{profile.cantidad_seguidores}}</text></div>
            <div class="profileinfo">Following: <text id="cantidadseguidos">{{profile.cantidad_seguidos}}</text> </div>
            </div>
            
            </div>

            {% if profile.usuario != request.user %}

                <form id="follow-form">
                    <div id="divbuttonfollow">
                        <input type="hidden" id="usertofollow" value="{{ profile.usuario }}"/>
                        <input type="submit" class="btn btn-primary" id="buttonfollow" value="{{ accion }}"/>
                    </div>
                </form>
            
            {% else %}

            <form id="follow-form">
                    <input type="submit" id="buttonfollow" value="" style="visibility: hidden ;"/>
            </form>

            {% endif %}

            

            {% else %}

            <div id="divprofile">

            <div> <img src="/static/network/avatars/{{profile.avatar}}" id="profileavatar"> </div>

            <div id="divprofileinfo">
            <div class="profileinfo">Followers: <text id="cantidadseguidores">{{profile.cantidad_seguidores}}</text></div>
            <div class="profileinfo">Following: <text id="cantidadseguidos">{{profile.cantidad_seguidos}}</text> </div>
            </div>

            </div>

            {% endif %}


        </div>

        <div class="col-lg-8  col-sm-12" id="posts">
            
            {% for post in page_obj %}
            {# Each "post" is a Posts model object. #}
            <div class="post">
                <div class="postdetails"> <a href="{% url 'profile' post.usuario %}"> <img src="/static/network/avatars/{{post.avatar}}" class="postavatar"> <text class="postname">{{post.usuario}}</text> </a> <text class="postdate">{{post.post_date}}</text><br></div>
                <div class="postcontents" id='contents{{post.id}}'>{{post.contents}}</div> 

                {% if user.is_authenticated %}

                <textarea class="editcontents" id='editcontents{{post.id}}'>{{post.contents}}</textarea>

                <div> 
                    {% if post.usuario == request.user %}
                    <br><a class="enlaceedit" data-postid='{{post.id}}''>Edit</a>
                    {% endif %} 
                </div>
                
                <div class="postlikes">

                <i class="material-icons iconlikes identity" data-identity='{{post.id}}' style="cursor: pointer" id='icon{{post.id}}'>
                    {% if user in post.megusta.all %}
                        favorite
                    {% else %}
                        favorite_border
                    {% endif %}
                </i>
                
                <text class="numberlikes" id='text{{post.id}}'>&nbsp;{{post.cantidad_megusta}}</text></div>   
                {% else %}
                <div class="postlikes"><i class="material-icons iconlikes">favorite_border</i><text class="numberlikes">{{post.cantidad_megusta}}</text></div> 
                {% endif %}
            </div>

            {% endfor %}

            <nav aria-label="...">

                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item pagelinkcorrect"> <a class="page-link" href="?page=1">&laquo; first</a></li>
                    <li class="page-item pagelinkcorrect"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a> </li>
                    {% endif %}
            
                    <li class="page-item pagelinkcorrect" aria-current="page">
                        <span class="page-link pagelinkcorrect">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                    </li>
            
                    {% if page_obj.has_next %}
                    <li class="page-item pagelinkcorrect"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a> </li>
                    <li class="page-item pagelinkcorrect"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> </li>
                    {% endif %}
                </ul>

            </nav>
          
        </div>

    </div>

</div>
    
{% endblock %}