
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700;800;900&display=swap');

/* https://html.crumina.net/html-olympus/ */

@keyframes hide {
        0% {
            opacity: 1;
            height: 100%;
            line-height: 100%;
        }
        75% {
            opacity: 0;
            height: 100%;
            line-height: 100%;
        }
        100% {
            opacity: 0;
            height: 0px;
            line-height: 0px;

        }
    }
    


a { font-family: 'Roboto', sans-serif;
    color: dimgrey; }

a:hover { text-decoration:none; color: #ff5e3a;font-weight:600;text-transform:none; }


textarea { min-height: 240px;
           min-width: 320px;
           border: 1px solid whitesmoke;
           border-radius: 4px; 
           /* background: #edeef7; */
           background: #fafbfd;
           padding: 32px;
           font-family: 'Roboto', sans-serif;
           font-size:larger;
           color: dimgray;
           resize: none;
           box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); }


.cabecera { /* background: linear-gradient(to right,#7868e6 0%,#b8b5ff 100%); */
            background: #515365;
            height: 82px;
            flex-wrap: nowrap;
            justify-content:baseline }


.menu { background: #ededed; }


.cuerpo { /* background: linear-gradient(to right,#7868e6 0%,#b8b5ff 100%); */
          background: #e6ecf5 }


.icono { vertical-align:text-bottom; }

.pagelinkcorrect { background: #ff5e3a;
                   border-color: #ff5e3a;
                   color: #fff; }

.pagelinkcorrect:hover { background: #EF3509;
                         border-color: #ff5e3a;
                         color: #fff}

.activo { background: #EF3509;
          font-weight: bolder; }





#titlecabecera { font-family: 'Fascinate', cursive;
                 font-size:  48px;
                 /* color: #e4fbff; */
                 color: #fff;
                 margin-left: 16px; }

#col-iconcabecera { background-color: #ff5e3a;
                    text-align: center;}   


#iconcabecera { padding-top: 4px;
                font-size: 72px;
                /* color: #e4fbff; */
                color: #fff; }


.titleNewPost { font-family: 'Jura', sans-serif;
                font-size:  32px;
                font-weight: bolder;
                /* color: #e4fbff; */
                color:  #515365;
                text-align: center;
                vertical-align: text-bottom;
                padding-top: 16px;
                padding-left: 24px; }


#titleLogin, #titleRegister { font-family: 'Jura', sans-serif;
                              font-size:  32px;
                              font-weight:700;
                              color: #e4fbff;
                              vertical-align: text-bottom;
                              text-align: center;
                              padding-top: 16px;
                              padding-bottom: 16px; }


#formLogin { width: 40%;
             margin: 0 auto; }


#formRegister { width: 40%;
                margin: 0 auto; }


#avatar { border: 2px solid #fff;
          padding: 4px;
          margin-top: 6px;
          border-radius: 100%;
          width: 64px;
          height: 64px;
          background-color: whitesmoke;
          vertical-align: baseline;}

#username { font-family: 'Jura', sans-serif;
            font-size:  32px;
            font-weight: 900;
            color: #fff;
            float: right; }


#formulario, #posts { padding-top: 16px;
                      text-align: center;
                      justify-content: center; }


#posts { overflow-y:scroll; }  


#compose-form { animation-name: hide;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-play-state: paused; }
             

#successfully { display: none;
                background-color: #A8E0C5;
                border-radius: 16px;
                font-family: 'Jura', sans-serif;
                text-indent: 0px;
                text-align: center;
                color: #313131;
                border-style: none;
                border-width: 0px;
                font-size:x-large;
                font-weight:bold;       
                padding: 48px;
                width: 80%;
                min-height: 240px;
                box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
                margin: 0 auto 16px; }

#successfullyicon {font-size:xx-large;}


.botonenviar { font-family: 'Jura', sans-serif;
               font-size:  24px;
               border-radius: 8px;
               /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); */
               background: #ff5e3a;
               border-color: #ff5e3a;
               opacity: 1;
               color: #fff;
               margin-top: 32px; }

.botonenviar:hover { background: #ff7658;
                     border-color: #ff5e3a; }


.post { height: auto;
        min-width: 640px;
        max-width: 640px;
        /* background: #edeef7; */
        background: #fafbfd;
        border: 1px solid #e4fbff;
        border-radius: 4px;
        padding: 8px;
        margin: 0 auto 16px;
        font-family: 'Roboto', sans-serif;
        font-size:small;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        display:inline-block;
        justify-content: left; }


.postavatar { border: 1px solid whitesmoke;
              padding: 2px;
              margin: 2px;
              border-radius: 100%;
              width: 54px;
              height: 54px;
              background-color: whitesmoke;
              float:left; }


.postname { font-family: 'Jura', sans-serif;
            font-size: 16px;
            font-weight: bolder;
            float: left; }


.postdate { float:right; }


.postdetails { font-family: 'Jura', sans-serif;
               font-size: 12px;
               font-weight:700; }


.postcontents { display:block;
                margin-top: 8px;
                padding: 4px; }


.postlikes { display:inline-flex;
             float:right; 
             vertical-align:text-bottom; }


.iconlikes { color: indianred; }


.iconlikes:hover { font-weight:bolder;
                   color: OrangeRed; }


.numberlikes { color: indianred;
               font-family: 'Roboto', sans-serif;
               font-size:medium; }


#divprofile { display:grid;
              grid-row-gap: 2px;
              justify-content: center;
              background: #fafbfd; }


#profileavatar { border: 4px solid #fff;
                 padding: 8px;
                 margin: 8px;
                 border-radius: 100%;
                 width: 240px;
                 height: 240px;
                 background-color: #e6ecf5;
                 box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); }


#divprofileinfo { display: flex; }


.profileinfo { font-family: 'Jura', sans-serif;
               font-size: 20px;
               font-weight: bolder;
               color: #515365;
               padding: 8px; }


#cantidadseguidores { color:orangered;
                      font-size: 32px; }


#cantidadseguidos { color: green;
                    font-size: 32px; }


#divbuttonfollow { text-align: center;
                   padding-top: 16px; }
                   

#buttonfollow { font-family: 'Jura', sans-serif;
                font-size: 20px;
                /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); */
                background: #ff5e3a;
                border-color: #ff5e3a;
                color: #fff;
                width: 128px;
                padding: 4px;
                margin-top: 8px;
                height: max-content; }   


#buttonfollow:hover { background: #ff7658;
                     border-color: #ff5e3a; }


.editcontents { display: none;
                visibility:hidden;
                background: #ededed;
                font-family: 'Jura', sans-serif;
                font-size: large;
                border: "1px solid";
                border-radius: 4px;
                padding: 8px;}


a.enlaceedit {float: left;
              font-family: 'Jura', sans-serif;
              font-size: 20px;
              font-weight:bold;
              color: indianred; }


a.enlaceedit:hover { text-decoration:none; 
                     color:#ff8000;
                     font-weight:bolder;
                     text-transform:none;
                     cursor: pointer }

